* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
}

//SECTION :     common style
.btn {
    padding: 0.4rem 1.4rem;
    font-size: 3rem;
    cursor: pointer;
}

h2 {
    font-size: 3.6rem;
}

//SECTION :     header
.home__header {
    background-color: rgb(0, 88, 175);
    color: #fff;
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
}

//SECTION :     nav
nav {
    width: 80%;
    margin: auto;
    margin-top: 2rem;

    ol {
        margin: 0;
        padding: 0;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;

        li {
            margin-left: 2.6rem;
            font-size: 1.8rem;

            a {
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
}

//SECTION :     counter
.counter__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    margin-top: 5rem;

    &--count {
        font-size: 5rem;
    }

    &--btns {
        display: flex;
        gap: 2rem;
    }
}

//SECTION :     Step Counter
.stepcounter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 5rem;

    &__step {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    &__count {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}

//SECTION :        Date Counter

.dateCounter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;

    &__step,
    &__count {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    &__result {
        font-size: 3rem;
        padding: 1rem 1.6rem;
        border-radius: 1rem;
        color: #ededed;
    }
}

//SECTION :         Slider Input Date Counter

.sliderInputDateCounter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    margin-top: 5rem;

    &__slider {
        display: flex;
        gap: 2rem;
        align-items: center;
        font-size: 2rem;
    }

    &__count {
        display: flex;
        gap: 2rem;
        align-items: center;
        font-size: 2rem;

        input[type="number"] {
            padding: 0.8rem;
            font-size: 2rem;
        }
    }

    &__result {
        font-size: 3rem;
        font-weight: bold;
    }
}

//SECTION :     dev profile

.profileCard {
    width: 500px;
    background-color: #eee;
    margin: auto;
    margin-top: 4rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 1px 5px 3px #ccc;

    display: flex;
    flex-direction: column;
    gap: 3rem;

    &__image {
        img {
            width: 100%;
            border-radius: 1rem;
        }
    }

    &__about {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        p {
            font-size: 1.8rem;
            color: #555;
        }

        &--skills {
            font-size: 1.6rem;

            display: flex;
            gap: 1rem;
            flex-wrap: wrap;

            div {
                padding: 0.6rem 1rem;
                border-radius: 10rem;
            }
        }

        &--contact {
            text-align: center;

            button {
                cursor: pointer;
                border: none;
                padding: 1rem 1.8rem;
                background-color: orangered;
                font-size: 1.8rem;
                border-radius: 1rem;
                color: #fff;
                transition: all 0.5s;
            }

            button:hover {
                background-color: rgb(213, 57, 0);
            }
        }
    }
}

//SECTION :     food menu
.not-available {
    font-size: 1.8rem;
}

header {
    background-color: dodgerblue;
    text-align: center;
    padding: 3rem 0;
    border-bottom: 0.4rem solid rgb(0, 103, 206);

    h1 {
        font-size: 4rem;
        margin-bottom: 1rem;
        color: #333;
    }

    p {
        font-size: 1.8rem;
        color: #444;
    }
}

.food-container {
    width: 80%;
    margin: 5rem auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    &__card {
        box-shadow: 0px 0px 4px 4px #ededed;
        padding: 1rem;
        border-radius: 1rem;

        // filter: grayscale(100%);

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        &--img {
            img {
                width: 100%;
                height: 25rem;
                border-radius: 1rem;
            }
        }

        &--content {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h3 {
                font-size: 2.8rem;
            }

            p {
                font-size: 1.6rem;
            }

            &-description {
                line-height: 1.4;
            }

            &-price span {
                background-color: yellow;
                display: inline-block;
                padding: 0.6rem 1.2rem;
                border-radius: 1rem;
            }

            div button {
                padding: 0.8rem 1.6rem;
                border: none;
                cursor: pointer;
                background-color: dodgerblue;
                color: white;
                transition: all 0.5s;
                font-weight: bold;
                letter-spacing: 1px;
                font-size: 1.6rem;
                border-radius: 10rem;

                &:hover {
                    background-color: rgb(0, 100, 201);
                }
            }
        }
    }
}

footer {
    background-color: dodgerblue;
    text-align: center;
    padding: 2rem 0;

    p {
        font-size: 1.8rem;
        color: #333;
    }
}

//SECTION :     simple quiz flash card
.quizFlashCard {
    width: 90%;
    margin: auto;
    margin-top: 3rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    @media only screen and (max-width: 500px) {
        grid-template-columns: 1fr;
    }

    &__card {
        background-color: #ededed;
        font-size: 3rem;
        padding: 1rem;
        border-radius: 1rem;
        min-height: 20rem;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}

//SECTION :         image flash card
.imageFlashCard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 2rem auto;

    width: 90%;

    &__container {
        img {
            width: 100%;
        }

        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-size: 3rem;
            font-weight: bold;
        }
    }
}

//SECTION :     Simple Steps
.simpleSteps {
    width: 50%;
    margin: 4rem auto;
    background-color: #f3f3f3;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    &__message {
        font-size: 2.8rem;
        font-weight: bold;
    }

    &__btns {
        display: flex;
        gap: 2rem;

        button {
            padding: 0.6rem 1rem;
            font-size: 1.6rem;
            cursor: pointer;
        }
    }

    &__indicators {
        display: flex;
        gap: 1rem;

        div {
            background-color: #ddd;
            padding: 0.4rem 0.8rem;
            font-size: 1.4rem;
            border-radius: 10rem;
        }
    }
}

//SECTION :     image step slider
.imageStepSlider__container {
    &--box {
        // background-image: url("./assets/img/1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        width: 100%;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        &--content {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            text-align: center;

            h3 {
                font-size: 3rem;
                color: #eee;
            }

            p {
                font-size: 1.8rem;
                color: #eee;
                width: 50rem;
            }

            button {
                font-size: 1.8rem;
                background-color: rgb(0, 102, 204);
                cursor: pointer;
                padding: 1rem 1.6rem;
                border: none;
                border-radius: 10rem;
                color: #fff;
                transition: all 0.5s;
                width: 14rem;
                margin: auto;

                &:hover {
                    background-color: rgb(0, 88, 176);
                }
            }
        }

        &--btns {
            button {
                border: none;
                padding: 0.4rem 0.4rem;
                border-radius: 50%;
                border: none;
                cursor: pointer;

                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    font-size: 3.6rem;
                }
            }

            &-left {
                // margin-left: 2rem;
                position: absolute;
                left: 0;
                transform: translate(50%, -50%);
            }

            &-right {
                margin-right: 2rem;
                position: absolute;
                right: 0;
                transform: translate(0, -50%);
            }
        }
    }
}
