* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
}

//SECTION :     common style
.btn {
    padding: 0.4rem 1.4rem;
    font-size: 3rem;
    cursor: pointer;
}

h2 {
    font-size: 3.6rem;
}

//SECTION :     header
header {
    background-color: rgb(0, 88, 175);
    color: #fff;
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
}

//SECTION :     nav
nav {
    width: 80%;
    margin: auto;
    margin-top: 2rem;

    ol {
        margin: 0;
        padding: 0;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;

        li {
            margin-left: 2.6rem;
            font-size: 1.8rem;

            a {
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
}

//SECTION :     counter
.counter__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    margin-top: 5rem;

    &--count {
        font-size: 5rem;
    }

    &--btns {
        display: flex;
        gap: 2rem;
    }
}

//SECTION :     Step Counter
.stepcounter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 5rem;

    &__step {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    &__count {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}

//SECTION :        Date Counter

.dateCounter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;

    &__step,
    &__count {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    &__result {
        font-size: 3rem;
        padding: 1rem 1.6rem;
        border-radius: 1rem;
        color: #ededed;
    }
}

//SECTION :         Slider Input Date Counter

.sliderInputDateCounter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    margin-top: 5rem;

    &__slider {
        display: flex;
        gap: 2rem;
        align-items: center;
        font-size: 2rem;
    }

    &__count {
        display: flex;
        gap: 2rem;
        align-items: center;
        font-size: 2rem;

        input[type="number"] {
            padding: 0.8rem;
            font-size: 2rem;
        }
    }

    &__result {
        font-size: 3rem;
        font-weight: bold;
    }
}
